# S&P 500 Equal Weight Index Fund
- The most popular of the all the index funds is the S&P 500
- It contains the largest 500 (or so) companies of the US of A

## Goal
- The goal of this script is to create a python script which will accept the value of your portfolio, telling you the total amount of shares each S&P 500 memebr you should buy to achieve an equal weighted version
    - Equal weighted meaning the stock are guaged on size rather than market capitalization

In [3]:
# Imports 
import numpy as np
import pandas as pd
import requests
import xlsxwriter as xls
import math

C:\Users\Jonathan\AppData\Local\Temp\ipykernel_17788\2084602766.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
# Importing our list of stocks from the S&P 500
stocks = pd.read_csv("sp_500_stocks.csv")
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]